@page "/requestdetails/{id:guid}"
@using Webhook.Navferty
@using System.Net
@using Ganss.Xss
@using Webhook.Navferty.Data

@inject IRequestRepository RequestRepository

@{
    ViewData["Title"] = "Request Details";
    var requestIdRaw = RouteData.Values["id"];
    var tenantIdRaw = Request.Query["tenantId"];
    if (!Guid.TryParse(requestIdRaw?.ToString(), out var requestId))
        throw new ArgumentException("Invalid request id.");

    if (!Guid.TryParse(tenantIdRaw, out var tenantId))
        throw new ArgumentException("Invalid tenant id.");

    var request = await RequestRepository.GetRequest(tenantId, requestId);
    if (request == null)
    {
        // 404
        Response.StatusCode = 404;
        await Response.WriteAsync("Not found");
        return;
    }

    var sanitizer = new HtmlSanitizer();
}

<h3>Request Details</h3>

@if (request == null)
{
    <p>Request not found.</p>
}
else
{
    <dl class="row">
        <dt class="col-sm-2">Id</dt>
        <dd class="col-sm-10">@request.Id</dd>

        <dt class="col-sm-2">IP Address</dt>
        <dd class="col-sm-10">@request.IpAddress</dd>

        <dt class="col-sm-2">Path</dt>
        <dd class="col-sm-10">@sanitizer.Sanitize(WebUtility.UrlDecode(request.Path))</dd>

        <dt class="col-sm-2">Method</dt>
        <dd class="col-sm-10">@request.Method</dd>

        <dt class="col-sm-2">Headers</dt>
        <dd class="col-sm-10"><pre>@sanitizer.Sanitize(request.Headers)</pre></dd>

        <dt class="col-sm-2">Query String</dt>
        <dd class="col-sm-10">@sanitizer.Sanitize(WebUtility.UrlDecode(request.QueryString))</dd>

        <dt class="col-sm-2">Body</dt>
        <dd class="col-sm-10"><pre>@sanitizer.Sanitize(request.Body)</pre></dd>

        <dt class="col-sm-2">Created At</dt>
        <dd class="col-sm-10">@request.CreatedAt</dd>
    </dl>
}
